In [1]:
import numpy as np 
import pandas as pd 
import tensorflow as tf
import keras

In [3]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
df = pd.read_csv(filepath)
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [ ]:
features = df.drop("Strength",axis = 1) 
target = df['Strength']

In [9]:
features

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [10]:
## lets normailze this data 

features_norm = ((features - features.mean()) / features.std())
features_norm

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

In [24]:
n_cols = features_norm.shape[1]
n_cols

8

In [32]:
from keras.models import Sequential
from keras.layers import Dense , Flatten, Input  
def regression_model(): 

    model = Sequential()
    model.add(Input(shape = (n_cols,)))
    model.add(Dense(50, activation="relu"))
    model.add(Dense(50, activation="relu"))
    model.add(Dense(1))

    model.compile(optimizer ="adam", loss="mean_squared_error")
    return model

In [33]:
# test the model 
model = regression_model()

In [34]:
model.fit(features_norm, target, epochs = 100, validation_split=0.3, verbose=2)

Epoch 1/100

23/23 - 1s - 27ms/step - loss: 1643.6663 - val_loss: 1125.9807
Epoch 2/100
23/23 - 0s - 4ms/step - loss: 1510.3634 - val_loss: 986.0890
Epoch 3/100
23/23 - 0s - 4ms/step - loss: 1289.4794 - val_loss: 774.7704
Epoch 4/100
23/23 - 0s - 3ms/step - loss: 954.6038 - val_loss: 517.6164
Epoch 5/100
23/23 - 0s - 4ms/step - loss: 588.8623 - val_loss: 294.1743
Epoch 6/100
23/23 - 0s - 5ms/step - loss: 340.6584 - val_loss: 188.2196
Epoch 7/100
23/23 - 0s - 4ms/step - loss: 256.4019 - val_loss: 174.1042
Epoch 8/100
23/23 - 0s - 4ms/step - loss: 234.6201 - val_loss: 172.0847
Epoch 9/100
23/23 - 0s - 4ms/step - loss: 220.0076 - val_loss: 167.7116
Epoch 10/100
23/23 - 0s - 4ms/step - loss: 208.8930 - val_loss: 166.8719
Epoch 11/100
23/23 - 0s - 4ms/step - loss: 199.8128 - val_loss: 165.5132
Epoch 12/100
23/23 - 0s - 5ms/step - loss: 191.9698 - val_loss: 162.2289
Epoch 13/100
23/23 - 0s - 4ms/step - loss: 185.6233 - val_loss: 160.9319
Epoch 14/100
23/23 - 0s - 4ms/step - loss: 179.8884 - val_loss: 161.6461
Epoch 15/100
23/23 - 0s - 4ms/step - loss: 174.6813 - val_loss: 160.0619
Epoch 16/100
23/23 - 0s - 4ms/step - loss: 170.7550 - val_loss: 157.9686
Epoch 17/100
23/23 - 0s - 4ms/step - loss: 166.8568 - val_loss: 159.4264
Epoch 18/100
23/23 - 0s - 4ms/step - loss: 163.7428 - val_loss: 159.5588
Epoch 19/100
23/23 - 0s - 4ms/step - loss: 159.8238 - val_loss: 156.5310
Epoch 20/100
23/23 - 0s - 4ms/step - loss: 157.6734 - val_loss: 158.0566
Epoch 21/100
23/23 - 0s - 4ms/step - loss: 155.3289 - val_loss: 156.1916
Epoch 22/100
23/23 - 0s - 4ms/step - loss: 153.4276 - val_loss: 157.0895
Epoch 23/100
23/23 - 0s - 4ms/step - loss: 151.2351 - val_loss: 160.1545
Epoch 24/100
23/23 - 0s - 4ms/step - loss: 148.8131 - val_loss: 156.6066
Epoch 25/100
23/23 - 0s - 4ms/step - loss: 147.6103 - val_loss: 158.7314
Epoch 26/100
23/23 - 0s - 4ms/step - loss: 146.0131 - val_loss: 161.3620
Epoch 27/100
23/23 - 0s - 4ms/step - loss: 144.8447 - val_loss: 157.6334
Epoch 28/100
23/23 - 0s - 5ms/step - loss: 143.4013 - val_loss: 162.2061
Epoch 29/100
23/23 - 0s - 5ms/step - loss: 141.4563 - val_loss: 160.1009
Epoch 30/100
23/23 - 0s - 4ms/step - loss: 140.2617 - val_loss: 160.1206
Epoch 31/100
23/23 - 0s - 4ms/step - loss: 139.0347 - val_loss: 162.2272
Epoch 32/100
23/23 - 0s - 4ms/step - loss: 138.0868 - val_loss: 163.3239
Epoch 33/100
23/23 - 0s - 4ms/step - loss: 136.6539 - val_loss: 160.9542
Epoch 34/100
23/23 - 0s - 4ms/step - loss: 135.3847 - val_loss: 162.9234
Epoch 35/100
23/23 - 0s - 4ms/step - loss: 134.5447 - val_loss: 162.4543
Epoch 36/100
23/23 - 0s - 4ms/step - loss: 132.5791 - val_loss: 165.1805
Epoch 37/100
23/23 - 0s - 4ms/step - loss: 131.8698 - val_loss: 165.2339
Epoch 38/100
23/23 - 0s - 4ms/step - loss: 130.5941 - val_loss: 163.1973
Epoch 39/100
23/23 - 0s - 4ms/step - loss: 129.6040 - val_loss: 165.4289
Epoch 40/100
23/23 - 0s - 4ms/step - loss: 128.4817 - val_loss: 165.6115
Epoch 41/100
23/23 - 0s - 4ms/step - loss: 127.6705 - val_loss: 163.3024
Epoch 42/100
23/23 - 0s - 4ms/step - loss: 125.8753 - val_loss: 164.9229
Epoch 43/100
23/23 - 0s - 4ms/step - loss: 124.6771 - val_loss: 164.8463
Epoch 44/100
23/23 - 0s - 4ms/step - loss: 123.6630 - val_loss: 163.9545
Epoch 45/100
23/23 - 0s - 4ms/step - loss: 121.5253 - val_loss: 164.3574
Epoch 46/100
23/23 - 0s - 4ms/step - loss: 119.8948 - val_loss: 168.4560
Epoch 47/100
23/23 - 0s - 5ms/step - loss: 117.8540 - val_loss: 164.4702
Epoch 48/100
23/23 - 0s - 4ms/step - loss: 116.7401 - val_loss: 166.9503
Epoch 49/100
23/23 - 0s - 4ms/step - loss: 115.7812 - val_loss: 166.4554
Epoch 50/100
23/23 - 0s - 5ms/step - loss: 113.0992 - val_loss: 165.3279
Epoch 51/100
23/23 - 0s - 5ms/step - loss: 110.0623 - val_loss: 161.9174
Epoch 52/100
23/23 - 0s - 4ms/step - loss: 108.2758 - val_loss: 169.8742
Epoch 53/100
23/23 - 0s - 4ms/step - loss: 105.9122 - val_loss: 163.8300
Epoch 54/100
23/23 - 0s - 4ms/step - loss: 104.1658 - val_loss: 163.2429
Epoch 55/100
23/23 - 0s - 6ms/step - loss: 102.4285 - val_loss: 166.6994
Epoch 56/100
23/23 - 0s - 7ms/step - loss: 99.8194 - val_loss: 163.0444
Epoch 57/100
23/23 - 0s - 6ms/step - loss: 98.4979 - val_loss: 167.3392
Epoch 58/100
23/23 - 0s - 7ms/step - loss: 94.9780 - val_loss: 157.2820
Epoch 59/100
23/23 - 0s - 6ms/step - loss: 92.6203 - val_loss: 159.3370
Epoch 60/100
23/23 - 0s - 7ms/step - loss: 89.8590 - val_loss: 161.0532
Epoch 61/100
23/23 - 0s - 4ms/step - loss: 88.0958 - val_loss: 158.3058
Epoch 62/100
23/23 - 0s - 9ms/step - loss: 86.5879 - val_loss: 156.2383
Epoch 63/100
23/23 - 0s - 7ms/step - loss: 82.8549 - val_loss: 160.4599
Epoch 64/100
23/23 - 0s - 5ms/step - loss: 80.8685 - val_loss: 149.4043
Epoch 65/100
23/23 - 0s - 5ms/step - loss: 78.1930 - val_loss: 151.1323
Epoch 66/100
23/23 - 0s - 6ms/step - loss: 75.5913 - val_loss: 148.6133
Epoch 67/100
23/23 - 0s - 5ms/step - loss: 73.5544 - val_loss: 147.1066
Epoch 68/100
23/23 - 0s - 5ms/step - loss: 71.2941 - val_loss: 149.6717
Epoch 69/100
23/23 - 0s - 5ms/step - loss: 69.1537 - val_loss: 142.7172
Epoch 70/100
23/23 - 0s - 4ms/step - loss: 67.1858 - val_loss: 153.5163
Epoch 71/100
23/23 - 0s - 6ms/step - loss: 64.7728 - val_loss: 139.2594
Epoch 72/100
23/23 - 0s - 6ms/step - loss: 63.7627 - val_loss: 156.0123
Epoch 73/100
23/23 - 0s - 4ms/step - loss: 61.6025 - val_loss: 148.8552
Epoch 74/100
23/23 - 0s - 5ms/step - loss: 59.7683 - val_loss: 148.9025
Epoch 75/100
23/23 - 0s - 7ms/step - loss: 58.2822 - val_loss: 139.3542
Epoch 76/100
23/23 - 0s - 16ms/step - loss: 57.3698 - val_loss: 151.1884
Epoch 77/100
23/23 - 0s - 4ms/step - loss: 55.4715 - val_loss: 150.7649
Epoch 78/100
23/23 - 0s - 5ms/step - loss: 53.6560 - val_loss: 145.0574
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 52.1835 - val_loss: 143.8784
Epoch 80/100
23/23 - 0s - 7ms/step - loss: 51.1840 - val_loss: 147.7402
Epoch 81/100
23/23 - 0s - 7ms/step - loss: 50.1730 - val_loss: 144.0544
Epoch 82/100
23/23 - 0s - 7ms/step - loss: 49.5241 - val_loss: 141.0741
Epoch 83/100
23/23 - 0s - 7ms/step - loss: 48.4433 - val_loss: 142.3867
Epoch 84/100
23/23 - 0s - 5ms/step - loss: 47.0170 - val_loss: 144.8899
Epoch 85/100
23/23 - 0s - 9ms/step - loss: 45.7770 - val_loss: 155.4429
Epoch 86/100
23/23 - 0s - 8ms/step - loss: 45.2299 - val_loss: 145.1482
Epoch 87/100
23/23 - 0s - 7ms/step - loss: 44.5387 - val_loss: 146.9995
Epoch 88/100
23/23 - 0s - 7ms/step - loss: 43.4506 - val_loss: 151.0785
Epoch 89/100
23/23 - 0s - 7ms/step - loss: 43.8958 - val_loss: 153.0147
Epoch 90/100
23/23 - 0s - 9ms/step - loss: 42.0315 - val_loss: 155.5762
Epoch 91/100
23/23 - 0s - 7ms/step - loss: 41.5934 - val_loss: 159.6489
Epoch 92/100
23/23 - 0s - 7ms/step - loss: 40.7963 - val_loss: 145.1533
Epoch 93/100
23/23 - 0s - 8ms/step - loss: 40.4577 - val_loss: 145.1249
Epoch 94/100
23/23 - 0s - 8ms/step - loss: 40.0910 - val_loss: 155.6279
Epoch 95/100
23/23 - 0s - 9ms/step - loss: 39.8439 - val_loss: 145.8298
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 39.5262 - val_loss: 160.5135
Epoch 97/100
23/23 - 0s - 9ms/step - loss: 38.1404 - val_loss: 151.4634
Epoch 98/100
23/23 - 0s - 7ms/step - loss: 38.5766 - val_loss: 140.7525
Epoch 99/100
23/23 - 0s - 5ms/step - loss: 38.0656 - val_loss: 159.6021
Epoch 100/100
23/23 - 0s - 5ms/step - loss: 37.1219 - val_loss: 150.7866